@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    /* Colors*/
    /*Primary*/
    --Linear-gradient-active-input: hsl(249, 99%, 64%) hsl(278, 94%, 30%);
    --Erro: hsl(0, 100%, 66%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

* {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100%;
    display: flex;
    align-items: center;
    background-color: aquamarine;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    background-color: burlywood;
}

section {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
}

section#left {
    width: 50%;
    padding: 10px;
    position: relative;
    background-image: url(./images/bg-main-desktop.png);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

section#left #cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 20px;
    margin-top: 50px;
}

#cards #card_front{
    width: 447px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 110px;
}

#card_front #logo {
    width: 80px;
    position: absolute;
    top: 30px;
    left: 40px;
}

#card_front h1 {
    position: absolute;
    top: 140px;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 1px;
    color: var(--White);
}

#card_front #front_infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--White);
}

#card_front #front_infos p{
    position: relative;
    left: 35px;
}

#card_front #front_infos div {
    position: relative;
    right: 35px;
}

#card_back {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 280px;
    left: 200px;
}   

#card_back span {
    position: absolute;
    right: 50px;
    letter-spacing: 1.5px;
    color: var(--Light-grayish-violet);
}

section#right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.form{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#right #grid_container {
    display: grid;
    grid-template-columns: 160px 180px;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: .5rem;
}

.form #grid_1, #grid_2, #grid_5 {
    grid-column: 1/3;
}

.form #grid_3 #inputDate{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form #grid_3 #two_inputs input{
    display: inline;
    width: 70px;
}

label{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: medium;
    color: var(--Very-dark-violet);
}

input{
    width: 100%;
    height: 35px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
    border: 1px solid var(--Light-grayish-violet);
    transition: border 100ms ease-in;
}

input:focus {
    border: 2px solid;
    border-color: var(--Linear-gradient-active-input);
    outline: none;
}

input::placeholder {
    color: var(--Dark-grayish-violet);
    letter-spacing: 1px;
}

.btn_submit {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: var(--White);
    background-color: var(--Very-dark-violet);
}

.erro {
    display: none;
    color: var(--Erro);
}

.erroInput{
    border: 2px solid var(--Erro);
    transition: border 100ms ease-in;
}

.thank{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thank div {
    width: 400px;
    padding: 20px;
    text-align: center;
}

.thank h1 {
    font-size: 25px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: var(--Very-dark-violet);
    margin: 30px 0 20px 0;
} 

.thank p {
    color: var(--Light-grayish-violet);
    margin-bottom: 40px;
}

.hidden {
    display: none;
}